@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Kaushan+Script&family=Quintessential&family=UnifrakturMaguntia&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Kaushan+Script&family=Permanent+Marker&family=Quintessential&family=UnifrakturMaguntia&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Quintessential&family=UnifrakturMaguntia&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

h1{
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(3, 11, 97)
}

h2{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgba(6, 6, 197, 0.833);
}

p{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: bolder;
    font-size: 1em;
}
body{
    background-image:linear-gradient(to left, #0d246b, #4c32f4);
}

main{
    background-color: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    padding: 15px;
    width: 650px;
    margin: auto;
}

article > h2{
    border-top: 0px;
}