@charset "UTF-8";

body {
    background-color: rgb(52, 52, 205);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h1{
    color: white;
    background-color: rgb(164, 165, 243);
    font-size: 25px;
}

h2{
    color: rgb(39, 38, 38);
    font-size: 20px;
}

p{
    color: rgb(2, 245, 43);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}